.bundle
db/*.sqlite3
log/*.log
tmp/
log
lib
script
vendor
test
app
.DS_Store
.sass-cache
nbproject/private/config
db
doc
config/*
*~
/nbproject/private/
/config.ru
/Gemfile
/nbproject/
/public/404.html
/public/422.html
/public/500.html
/public/images/
/public/index.orig.html
/public/js/jquery-ui-1.8.12.custom.min.js
/Rakefile